*{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}
body:only-child{
    margin: auto;
}

header{
    background-color: gainsboro;
    text-align: center;
}

h1{
    margin: 0;
    padding: 10px;
}

#login{
    position: absolute;
    background-color: gainsboro;
    text-align: center;
    width: 600px;
    height: 200px;
    top: 25%;
    left: 26%;
}

#logintitle{
    padding-top: 50px;
    padding-bottom: 10px;
}

#loginButton{
    position: absolute;
    right: 30%;
    margin-top: 2%;
}

#email{
    margin-left: 33px;
    margin-bottom: 10px;
}


#options{
    display: table-caption;
}

#sidebar{
    padding: 20px;
    width: 200px;
    height: 100%;
    background-color: gainsboro;
}

#views{
    display: inline-flex;
}

#view2{
    padding-left: 10%;
}

#home{
    padding: 40px;
}

#homeOption{
    display: flex;
    text-decoration: none;
}

.homeOptions{
    display: table-caption;
    padding: 20px;
}